<nav class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand">Angula Votar links</a>
</nav>

<div class="container p-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <h3 class="card-header">Agregue un enlace</h3>
        <form action="" class="card-body">
          <label for="title" >Titulo</label>
          <input type="text" #titulo  name="title" class="form-control" autofocus>

          <label for="link" >Link</label>
          <input type="text"  #link name="link" class="form-control" >

          <button (click)="addLink(titulo, link)" class="btn btn-primary btn-block mt-4" >Submit Link</button>
        </form>
      </div>
    </div>
  </div>
  
    <app-link *ngFor="let link of links" [link]="link"></app-link>
  
</div>